# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
src-example

# gradle
build
.gradle

# other
eclipse
run
config
crash-reports
logs
mods
resourcepacks
saves
proof-description.txt
